@use "../../styles" as *;

.movie_grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem 1rem;
  margin-bottom: 3rem;

  @include tablet {
    grid-template-columns: repeat(3, 1fr);
  }

  &__loadmore {
    text-align: center;
  }
}
