@use '../../styles' as *;

.button {
  @include flex(center, center);

  padding: 0.5rem 1.8rem;
  text-align: center;
  text-transform: uppercase;
  border-radius: $border-radius;
  font-family: $main-font;
  font-size: 1.5rem;
  font-weight: 700;
  box-shadow: $box-shadow;
  cursor: pointer;
  user-select: none;
  touch-action: manipulation;
  transition: 0.5s ease;

  &--primary {
    background-size: 200% auto;
    color: $text-color;
    border: 0;
    background-image: linear-gradient(45deg, $main-color 0%, $main-color-light 51%, $main-color 100%);

    &:active {
      transform: scale(0.95);
    }

    &:hover {
      background-position: right center;
      color: $white-color;
      text-decoration: none;
    }
  }

  &--outline {
    color: $white-color;
    background: $black-color;
    background-clip: padding-box;
    border: 3px solid transparent;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      margin: -3px;
      border-radius: inherit;
      background-image: linear-gradient(45deg, $main-color 0%, $main-color-light 51%, $main-color 100%);
    }

    &:hover {
      color: $text-color;
      background-image: linear-gradient(45deg, $main-color 0%, $main-color-light 51%, $main-color 100%);
    }
  }

  &--small {
    border-width: 2px;
    padding: 0.25rem 1.5rem;
    font-size: 1rem;
  }
}
