@use '../../styles' as *;

.button {
  cursor: pointer;
  font-family: $main-font;
  border-radius: $border-radius;
  padding: 0.5rem 1.8rem;
  font-size: 1.5rem;
  font-weight: 600;
  position: relative;

  &--primary {
    border: 4px solid transparent;
    background-color: $main-color;
    color: $text-color;
    box-shadow: 0 0 7px 8px #ff00004d;
    transition: box-shadow 0.3s ease;

    &:hover {
      box-shadow: 0 0 7px 15px #ff00004d;
    }
  }

  &--outline {
    border: 3px solid $white-color;
    background-color: transparent;
    color: $text-color;
    box-shadow: unset;
    transition: color 0.3s ease, background-color 0.3s ease;

    &--hover {
      box-shadow: unset;
      color: $main-color;
      background-color: $white-color;
    }
  }

  &--small {
    border-width: 2px;
    padding: 0.25rem 1.5rem;
    font-size: 1rem;
  }
}
