@use '../../../../styles' as *;

.slide {
  width: 100%;
  flex-shrink: 0;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-image: linear-gradient(to top, #0f0f0f, rgba(0, 0, 0, 0));
  }

  &--active > .slide__content > .slide__content_poster {
    .slide__image {
      transform: scale(1);
    }
  }

  &--active > .slide__content > .slide__content_info {
    .slide__buttons,
    .slide__title,
    .slide__overview {
      opacity: 1;
      transform: translateY(0);
    }

    .slide__title {
      transition-delay: 0.3s, 0.3s;
    }

    .slide__overview {
      transition-delay: 0.6s, 0.6s;
    }

    .slide__buttons {
      transition-delay: 0.9s, 0.9s;
    }
  }

  &__video {
    position: relative;
    width: 100%;
    padding-bottom: 42.5%;
  }

  &__iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }

  &__content {
    position: absolute;
    bottom: 2rem;
    z-index: 1;
  }

  &__content_info {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 0;
    gap: 1.125rem;
    padding: 0 3rem;
    position: relative;
  }

  &__genres {
    font-size: 0.75rem;
    font-weight: 400;
  }

  &__rating {
    display: flex;
    gap: 1rem;
  }

  &__title {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1;
  }

  &__overview {
    font-size: 1rem;
    font-weight: 400;
  }

  &__buttons,
  &__title,
  &__overview {
    opacity: 0;
    transform: translateY(-100px);
    transition: transform 0.5s ease, opacity 0.5s ease;
  }

  &__buttons {
    display: flex;
    gap: 1rem;
  }
}
