@use "../../styles" as *;

.movie_card {
  position: relative;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 160%;
  border-radius: $border-radius;
  margin-bottom: 1rem;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: $black-color;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: $border-radius;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover::before {
      opacity: 0.8;
    }
  }
}
