.modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;

  &__container {
    z-index: -1;
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }

  &--open {
    z-index: 10000;

    .modal__container {
      display: flex;
      justify-content: space-between;
      position: relative;
      width: 800px;
      max-width: 90%;
      margin: 50px auto;
      background-color: #faf7f3;
      z-index: 10002;
      border-radius: 5px;
      height: 420px;
      max-height: 90vh;
      overflow-y: auto;
      opacity: 1;
    }
  }

  &__left {
    width: 280px;
  }

  &__right {
    width: calc(100% - 280px);
    padding: 15px;
  }

  &__close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    padding: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
  }

  &__image {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &__title {
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  &__details {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 30px;
    align-items: center;
  }

  &__favourite {
    padding: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
  }

  &__star {
    width: 20px;
    height: 20px;
  }

  &__favourite,
  &__year,
  &__runtime {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid #000;
  }

  &__plot {
    font-size: 18px;
    margin-bottom: 20px;
  }

  &__starring {
    margin-bottom: 20px;
  }

  &__rating-number {
    border-radius: 100%;
    background-color: #008000;
    color: #fff;
    padding: 5px;
    margin-left: 5px;
  }
}

@media screen and (max-width: 767px) {
  .modal {
    &--open {
      .modal__container {
        flex-direction: column;
      }
    }

    &__left,
    &__right {
      width: 100%;
    }
  }
}
