$bg-color: #05080c;
$main-color-ultra-dark: #026228;
$main-color-dark: #2F8043;
$main-color: #50A060;
$main-color-light: #86D793;
$main-color-ultra-light: #D7F9DB;
$text-color: #fefffe;
$white-color: #fff;
$black-color: #000;
