.gallery {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 200px);
  padding: 50px 20px 0;
  background-color: #fff;
}

.gallery__item {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 0 15px 50px;
  width: calc(25% - 30px);
}
