@use 'styles' as *;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700;800&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: $main-font;
  margin: 0;
  color: $text-color;
  background-color: $bg-color;
}

a {
  text-decoration: none;
  color: unset;
}

@media (hover: hover) {
  a:hover {
    color: $main-color;
  }
}

button,
input {
  outline: none;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
}
