@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

.cancel-icon {
  transition: fill 0.5s ease;

  &:hover {
    fill: #f00;
  }
}

.star-inactive-icon {
  transition: fill 0.5s ease;

  &:hover {
    fill: #ffc107;
  }
}

.star-active-icon {
  fill: #ffc107;
}
