@mixin flex($align-items, $justify-content) {
  display: flex;
  align-items: $align-items;
  justify-content: $justify-content;
}

@mixin overlay($color: #000, $alpha: 0.6) {
  background-color: rgba($color, $alpha);
}
